{% extends 'base.html.twig' %}

{% block title %}Reserva index{% endblock %}

{% block body %}
    <h1>Reserva index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Libro</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.id }}</td>
                <td>{{ reserva.usuario.email }}</td>
                <td>{{ reserva.libro.titulo }}</td>
                <td>
                    <a href="{{ path('app_reserva_show', {'id': reserva.id}) }}">show</a>
                    <a href="{{ path('app_reserva_edit', {'id': reserva.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
