{% extends 'base_no_navbar.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block title %}Registrarse
{% endblock %}

{% block body %}
	<div class="container">
		<a class="logo" href="{{path('app_index')}}">
			<img src="{{asset('images/logo/logo-libreando.png')}}" alt="Logo">
		</a>
		<section class="side">
			<div class="childrens">
				<img src="{{ asset('images/login/niños_pila.png') }}" alt="Niños en columna">
			</div>
		</section>

		<section class="main">
			<div class="loginbox">

				<div class="user-login">
					<h1>Deseo registrarme como:
					</h1>
				</div>

				<div class="login-btn">
					<button>
						<a href="{{ url('app_registro_estudiantes') }}">Estudiante</a>
					</button>
				</div>

				<div class="login-btn">
					<button>
						<a href="{{ url('app_registro_profesores') }}">Profesor</a>
					</button>
				</div>
			</section>
		</div>


	{% endblock %}
