{% extends 'base_no_navbar.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block title %}Registrarse{% endblock %}

{% block body %}
	<div class="container">
		<a class="logo" href="{{path('app_index')}}">
			<img src="{{asset('images/logo/logo-libreando.png')}}" alt="Logo">
		</a>
		<section class="side">
			<div class="childrens">
				<img src="{{ asset('images/login/niños_pila.png') }}" alt="Niños en columna">
			</div>
		</section>

		<section class="main">
			<div class="loginbox">
				<div class="login-header">
					<h1>¡Bienvenido!</h1>
				</div>

				{{ form_errors(form) }}

				{{ form_start(form) }}

				{{ form_rest(form) }}

				<button type="submit">Registrarse</button>

				{{ form_end(form) }}
			</div>
		</section>
	</div>
{% endblock %}
