{% extends 'base.html.twig' %}

{% block title %}Préstamos{% endblock %}

{% block body %}
    <h1>Préstamos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de solicitud</th>
                <th>Fecha de prestamo</th>
                <th>Fecha de devolución</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.id }}</td>
                <td>{{ prestamo.fechaSolicitud ? prestamo.fechaSolicitud|date('Y-m-d') : '' }}</td>
                <td>{{ prestamo.fechaPrestamo ? prestamo.fechaPrestamo|date('Y-m-d') : '' }}</td>
                <td>{{ prestamo.fechaDevolucion ? prestamo.fechaDevolucion|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_prestamo_show', {'id': prestamo.id}) }}">Mostrar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No encontramos préstamos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prestamo_new') }}">Nuevo préstamo</a>
{% endblock %}
