{% extends 'base.html.twig' %}

{% block title %}Préstamo{% endblock %}

{% block body %}
    <h1>Préstamo N° {{ prestamo.id }} (del libro "{{ prestamo.getCopiaLibro().libro.titulo }}")</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestamo.id }}</td>
            </tr>
            <tr>
                <th>Fecha de solicitud</th>
                <td>{{ prestamo.fechaSolicitud ? prestamo.fechaSolicitud|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de préstamo</th>
                <td>{{ prestamo.fechaPrestamo ? prestamo.fechaPrestamo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha de devolución</th>
                <td>{{ prestamo.fechaDevolucion ? prestamo.fechaDevolucion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prestamo_index') }}">Volver a la lista</a>

    <a href="{{ path('app_prestamo_edit', {'id': prestamo.id}) }}">Editar</a>

    {{ include('prestamo/_delete_form.html.twig') }}
{% endblock %}
