{% extends 'base.html.twig' %}

{% block title %}Prestamo{% endblock %}

{% block body %}
    <h1>Prestamo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestamo.id }}</td>
            </tr>
            <tr>
                <th>Fecha_solicitud</th>
                <td>{{ prestamo.fechaSolicitud ? prestamo.fechaSolicitud|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha_prestamo</th>
                <td>{{ prestamo.fechaPrestamo ? prestamo.fechaPrestamo|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha_devolucion</th>
                <td>{{ prestamo.fechaDevolucion ? prestamo.fechaDevolucion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prestamo_index') }}">back to list</a>

    <a href="{{ path('app_prestamo_edit', {'id': prestamo.id}) }}">edit</a>

    {{ include('prestamo/_delete_form.html.twig') }}
{% endblock %}
