{% extends 'base.html.twig' %}

{% block title %}Descriptor{% endblock %}

{% block body %}
    <h1>Descriptor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ descriptor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ descriptor.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_descriptor_crud_index') }}">back to list</a>

    <a href="{{ path('app_descriptor_crud_edit', {'id': descriptor.id}) }}">edit</a>

    {{ include('descriptor_crud/_delete_form.html.twig') }}
{% endblock %}
