{{ form_start(form) }}
{{ form_row(form.ubicacion_fisica) }}
{{ form_row(form.disponibilidad) }}

{% if editing is defined and editing %}
	{% do form.guardar_multiple.setRendered %}
	{% do form.numero_copias.setRendered %}
{% else %}
	{{ form_row(form.guardar_multiple, {'label': 'Guardar múltiples copias'}) }}
	<div style="display: flex; width: 100%;">
	<p>Guardar
		{{ form_row(form.numero_copias, { 'label': false } )}}
		copias adicionales</p>
		</div>
{% endif %}

<button class="btn" type="submit">Guardar</button>
{{ form_end(form) }}
