{% extends 'base.html.twig' %}

{% block title %}CopiaLibro index
{% endblock %}

{% block body %}
	<h1>CopiaLibro index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>actions</th>
				<th>Id</th>
				<th>Ubicacion_fisica</th>
				<th>Disponibilidad</th>
			</tr>
		</thead>
		<tbody>
			{% for copia_libro in libro.getCopiasLibro() %}
				<tr>
					<td>
                    {{ include('crud/copia_libro/_delete_form.html.twig') }}
					<a href="{{ path('app_copia_libro_crud_edit', {'id': libro.id, 'copy_id': copia_libro.id}) }}">edit</a>
					</td>
					<td>{{ copia_libro.id }}</td>
					<td>{{ copia_libro.ubicacionFisica }}</td>
					<td>{{ copia_libro.disponibilidad.estado }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h1>Create new CopiaLibro</h1>

	{{ include('crud/copia_libro/_form.html.twig') }}

{% endblock %}
