{% extends 'admin.html.twig' %}

{% block title %}Libros
{% endblock %}

{% block main %}
	<h1>Administrar copias de "{{ libro.titulo }}"</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Acciones</th>
				<th>Id</th>
				<th>Ubicación física</th>
				<th>Disponibilidad</th>
			</tr>
		</thead>
		<tbody>
			{% for copia_libro in libro.getCopiasLibro() %}
				<tr>
					<td>
                    {{ include('crud/copia_libro/_delete_form.html.twig') }}
					<a class="btn btn-secondary" href="{{ path('app_copia_libro_crud_edit', {'id': libro.id, 'copy_id': copia_libro.id}) }}">Editar</a>
					</td>
					<td>{{ copia_libro.id }}</td>
					<td>{{ copia_libro.ubicacionFisica }}</td>
					<td>{{ copia_libro.disponibilidad.estado }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">No hay copias de este libro</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h1>Crear nueva copia</h1>

	{{ include('crud/copia_libro/_form.html.twig') }}

{% endblock %}
