{% extends 'base.html.twig' %}

{% block title %}Resultados de la búsqueda
{% endblock %}

{% block body %}

	<div>
		<p>Encontramos
			{{ libros|length }}
			resultado(s) para tu búsqueda</p>

		{% for libro in libros %}
			<div class="resultado-libro">
				<h2>
					<a href="{{ path('app_libro_show', { id: libro.id}) }}">{{ libro.titulo }}</a>
				</h2>
				<p>
					{{ libro.publicacionEdicion ? libro.publicacionEdicion|date('Y') : '' }}</p>
				<p>ISBN:
					{{ libro.isbn }}</p>
			</div>
		{% else %}
			<h2>No encontramos resultados para tu búsqueda</h2>
		{% endfor %}
	</div>

{% endblock %}
