<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Libreando |
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block header %}

			<nav class="navbar sticky-top navbar-expand-lg navbar-light bd-navbar bg-primary">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path('app_index') }}" aria-label="Ir al inicio">
						<span>
							<svg height="28px" viewbox="0 0 1105.1692 213.16615" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
								<path style="display:inline;fill:#101720" d="m 338.0839,591.04812 c -7.73355,-12.37036 -15.03674,-29.68212 -19.08795,-45.24683 -2.53659,-9.74554 -4.35675,-20.64134 -5.12133,-30.65714 -0.42397,-5.55391 -0.42245,-19.46808 0.003,-24.99207 1.93269,-25.11027 9.38068,-49.74687 21.61666,-71.50397 1.78345,-3.17121 2.14827,-4.06486 2.09465,-5.13104 l -0.0649,-1.29104 68.73118,-10.34893 c 37.80183,-5.69192 85.79486,-12.9224 106.65086,-16.06773 l 37.92,-5.7188 85.6,-0.003 c 76.58694,-0.002 240.67517,-0.21073 640.40003,-0.81268 l 128.24,-0.19311 v 5.86306 c 0,3.73372 0.1869,7.17587 0.5185,9.47781 0.2865,1.98811 0.4448,3.69081 0.3518,3.78378 -0.093,0.093 -44.5703,6.85322 -98.8386,15.02277 -54.2682,8.16955 -98.8855,14.89085 -99.1495,14.93622 -0.646,0.11102 -2.8542,4.41981 -5.4542,10.64249 -2.3054,5.51793 -5.6869,15.05074 -5.4258,15.29643 0.088,0.0828 44.4373,-6.51973 98.5539,-14.67233 54.1167,-8.15261 98.4418,-14.77508 98.5002,-14.71662 0.059,0.0585 -0.4608,1.23719 -1.154,2.61941 -1.5412,3.07294 -3.998,9.2439 -4.7336,11.88979 -0.4597,1.65331 -0.6711,1.97987 -1.3748,2.1239 -0.4575,0.0936 -43.9597,6.64876 -96.6717,14.567 -52.712,7.91824 -96.2,14.51163 -96.64,14.65197 -0.7243,0.23101 -0.8512,0.54822 -1.3409,3.35116 -0.9754,5.58334 -1.8222,13.09934 -2.2019,19.5446 -0.2053,3.48442 -0.304,6.4046 -0.2193,6.4893 0.085,0.0847 43.7556,-6.41154 97.0463,-14.43608 77.6647,-11.69475 96.9453,-14.50656 97.1592,-14.16929 0.1467,0.23142 0.269,1.09739 0.2717,1.92437 0.01,1.83881 0.8148,8.13323 1.4098,10.97172 0.2403,1.14657 0.3192,2.08467 0.1753,2.08467 -0.144,0 -43.7734,6.552 -96.9543,14.56 -53.1808,8.008 -96.7906,14.56 -96.9105,14.56 -0.1198,0 -0.6449,-2.844 -1.1667,-6.32 -1.1194,-7.457 -1.3498,-6.65198 -0.8013,2.8 0.5372,9.25696 1.976,19.64813 3.8106,27.52 0.5168,2.21769 0.6187,2.39477 1.3407,2.33107 1.0018,-0.0884 198.5847,-29.79971 199.6906,-30.02827 0.7564,-0.15632 0.9942,0.0902 2.7026,2.8029 1.0303,1.63587 2.4513,3.76506 3.1578,4.73155 1.0707,1.46461 1.352,2.18092 1.6894,4.30135 0.2227,1.39925 0.3706,2.57836 0.3287,2.62024 -0.042,0.0419 -45.7942,6.95152 -101.672,15.35475 -55.8777,8.40323 -101.7164,15.38112 -101.8637,15.50642 -0.6997,0.595 7.026,18.86 7.9774,18.86 0.2252,0 46.8226,-6.99054 103.5499,-15.53452 56.7274,-8.54398 103.725,-15.61577 104.4393,-15.71509 l 1.2986,-0.18058 1.1585,7.63132 c 0.6371,4.19723 1.1327,7.64945 1.1013,7.67159 -0.031,0.0222 -45.8491,6.92505 -101.8171,15.33977 -55.968,8.41473 -101.8075,15.33381 -101.8656,15.37574 -0.058,0.0419 0.1385,0.44873 0.4368,0.904 l 0.5424,0.82777 H 777.42689 338.8341 Z m 659.25949,-15.43993 c 184.34601,-7e-5 193.70891,-0.0272 193.54251,-0.56007 -0.096,-0.308 -0.986,-2.504 -1.9773,-4.88 -3.5657,-8.54626 -7.2985,-20.73409 -9.2685,-30.26243 -7.2964,-35.29038 -4.1096,-71.79233 9.1202,-104.46691 1.0766,-2.65893 1.8784,-5.04058 1.7817,-5.29255 -0.1524,-0.39718 -56.3857,-0.45812 -422.69454,-0.45812 H 345.32875 l -2.30393,4.78515 c -15.91645,33.0577 -19.8229,70.53931 -11.02173,105.75147 2.6606,10.64466 6.36168,20.91954 11.02158,30.59791 l 2.30377,4.78482 154.58881,0.10709 c 85.02385,0.0589 188.14082,0.0591 229.14882,4.1e-4 41.008,-0.0587 161.73279,-0.10673 268.27732,-0.10677 z m 95.68521,-19.21496 c -17.1109,-1.5243 -29.7028,-10.39407 -35.6308,-25.09848 -5.1377,-12.74405 -5.669,-32.34269 -1.2475,-46.01983 5.2037,-16.09662 16.8795,-25.56305 34.6758,-28.1142 4.4756,-0.64159 14.8437,-0.47307 19.2,0.31206 10.3029,1.85688 17.3009,5.38376 23.3905,11.78848 1.3368,1.40596 3.0325,3.44267 3.7682,4.52603 4.1772,6.15124 7.0176,14.58033 8.0228,23.80821 0.4276,3.92557 0.4342,14.22958 0.011,18.01261 -2.741,24.53018 -16.5239,38.6459 -39.8329,40.79493 -3.9279,0.36215 -8.2204,0.35874 -12.3575,-0.01 z m 10.7242,-17.28074 c 10.7715,-1.49817 17.269,-8.73113 19.5334,-21.74438 0.2909,-1.672 0.6141,-5.344 0.7181,-8.16 0.5732,-15.52007 -3.2053,-26.70534 -10.6689,-31.58252 -4.561,-2.98046 -8.4908,-3.94928 -14.9633,-3.68891 -2.3023,0.0926 -5.05,0.40075 -6.106,0.68473 -7.5863,2.04009 -13.1586,7.92112 -15.6521,16.51922 -1.5528,5.35405 -2.2584,16.272 -1.4901,23.05633 1.4139,12.48691 6.3048,20.35377 14.6956,23.6376 3.6653,1.43443 9.1749,1.93976 13.9333,1.27793 z M 372.42607,506.80811 v -48.64 h 10.24 10.24 v 40.16 40.16 h 19.68 19.68 v 8.48 8.48 h -29.92 -29.92 z m 76.8,0 v -48.64 h 10.24 10.24 v 48.64 48.64 h -10.24 -10.24 z m 45.12,-0.003 V 458.1144 l 20.08,0.14206 c 16.55619,0.11712 20.7258,0.23617 23.76,0.67836 12.72551,1.85455 19.99518,5.8438 23.37539,12.8273 1.82726,3.77511 2.3319,6.66425 2.15099,12.31478 -0.12905,4.03073 -0.27097,5.01296 -1.06395,7.36348 -1.12676,3.33994 -3.4421,6.87898 -5.673,8.6713 -1.95045,1.567 -4.89331,3.04307 -6.66321,3.34209 -1.82538,0.3084 -1.52349,0.93307 0.75378,1.55969 9.6695,2.66071 14.66514,9.31405 15.1845,20.22317 0.766,16.09 -8.25891,26.20643 -26.29496,29.47521 -2.43261,0.44088 -6.26724,0.54427 -24.24954,0.65383 l -21.36,0.13014 z m 41.06385,30.76481 c 4.59908,-1.22675 7.00784,-3.08618 8.5853,-6.62735 0.5318,-1.19382 0.73444,-2.38689 0.83814,-4.93451 0.11842,-2.90959 0.0409,-3.61389 -0.57847,-5.25402 -1.37044,-3.62913 -4.58708,-6.01743 -9.58882,-7.11954 -1.88043,-0.41434 -4.27044,-0.53506 -11.04,-0.55763 l -8.64,-0.0288 -0.0839,12.31912 c -0.0461,6.77551 -0.007,12.51813 0.0858,12.76138 0.14093,0.36725 1.67496,0.41402 9.04388,0.27575 7.63612,-0.14329 9.22347,-0.25969 11.37801,-0.83439 z m -1.89377,-41.4661 c 4.36868,-0.83587 6.74379,-2.3383 8.19839,-5.1861 0.70632,-1.38283 0.79153,-1.94582 0.79153,-5.22966 0,-3.18248 -0.0954,-3.85842 -0.70597,-4.99975 -1.19746,-2.23855 -3.40018,-3.74307 -6.98785,-4.77289 -1.52415,-0.43749 -3.71794,-0.5778 -10.94618,-0.70005 l -9.04,-0.1529 v 10.7528 10.75279 h 8.13185 c 5.77732,0 8.8344,-0.13442 10.55823,-0.46424 z m 52.34992,10.70429 v -48.64 l 16.08,0.003 c 8.844,10e-4 17.736,0.14645 19.76,0.32211 18.15619,1.57572 28.03846,8.61301 30.55019,21.75515 0.7628,3.99122 0.69794,10.34347 -0.13887,13.6 -1.9367,7.53694 -7.00921,13.73852 -14.54207,17.77893 l -2.72,1.45893 10.1035,15.02107 c 5.55693,8.26159 11.92235,17.68184 14.14538,20.93389 2.22303,3.25205 4.09048,6.02588 4.14989,6.16407 0.0594,0.13819 -5.02807,0.21343 -11.30552,0.16719 l -11.41354,-0.0841 -11.57448,-18.63278 -11.57448,-18.63278 -5.52,-0.007 -5.52,-0.007 v 18.72 18.72 h -10.24 -10.24 z m 35.33198,-6.21838 c 2.70986,-0.60022 5.75727,-1.99272 7.27259,-3.32319 2.6718,-2.34587 4.10396,-7.13896 3.47023,-11.61395 -0.39016,-2.75498 -1.02766,-4.19067 -2.63527,-5.93472 -1.59125,-1.7263 -3.59419,-2.79712 -6.91021,-3.69438 -1.99377,-0.53948 -3.71407,-0.69103 -9.24932,-0.81481 l -6.8,-0.15205 v 13.20203 13.20202 l 6.32,-0.19051 c 3.78339,-0.11404 7.20781,-0.38715 8.53198,-0.68044 z m 55.22802,6.70016 v -48.16178 h 27.68559 27.68559 l -0.0856,7.92 -0.0856,7.92 -17.68,0.0827 -17.68,0.0827 v 10.55729 10.55729 h 16.48 16.48 v 8.48 8.48 h -16.47998 -16.48 v 12.64 12.64 h 17.76531 17.76532 l -0.0853,8.4 -0.0853,8.4 -27.6,0.0818 -27.6,0.0818 z m 63.54479,47.43822 c 0.12535,-0.396 7.82032,-22.32 17.09993,-48.72 l 16.87201,-48 12.65103,-0.0836 12.65102,-0.0837 0.63313,1.84365 c 0.34822,1.014 8.01162,22.72364 17.02979,48.24364 9.01816,25.52 16.46783,46.652 16.5548,46.96 0.14842,0.52558 -0.52121,0.56 -10.89346,0.56 H 811.5175 l -0.4883,-1.52 c -0.26857,-0.836 -1.72814,-5.624 -3.24348,-10.64 -1.51535,-5.016 -2.90235,-9.588 -3.08223,-10.16 l -0.32705,-1.04 h -17.73519 c -9.75435,0 -17.73518,0.0593 -17.73518,0.13182 0,0.13717 -4.00647,13.35982 -5.94735,19.62818 l -1.11467,3.6 H 750.7935 739.74294 Z m 59.22291,-40.64 c -0.0999,-0.396 -2.28698,-7.488 -4.86014,-15.76 -2.57317,-8.272 -5.32109,-17.26606 -6.1065,-19.98681 -0.78541,-2.72075 -1.46423,-4.98303 -1.5085,-5.0273 -0.0443,-0.0443 -1.04446,3.2618 -2.22265,7.34681 -1.17819,4.08502 -3.9439,13.323 -6.14603,20.52885 -2.20214,7.20585 -4.00388,13.21785 -4.00388,13.36 0,0.14215 5.63161,0.25845 12.51469,0.25845 h 12.51469 z m 46.8323,-7.28359 v -48.64359 l 12.99788,0.0836 12.99788,0.0836 21.00212,36.21411 c 11.55117,19.91777 21.12934,36.33377 21.28484,36.48 0.16344,0.15372 0.19231,-1.89411 0.0684,-4.85411 -0.11786,-2.816 -0.34955,-8.504 -0.51487,-12.64 -0.16531,-4.136 -0.3041,-18.284 -0.30841,-31.44 l -0.008,-23.92 h 9.28 9.28 v 48.64 48.64 l -13.04,-0.003 -13.04,-0.003 -21.12,-36.78633 c -11.616,-20.23249 -21.2896,-36.79126 -21.49688,-36.79727 -0.26084,-0.008 -0.33141,0.50634 -0.22921,1.66907 0.68237,7.76297 0.86319,15.38304 0.99091,41.76 l 0.14604,30.16 h -9.14527 -9.14543 z m 110.72,0.0352 v -48.6716 l 17.04,2.7e-4 c 9.372,1.4e-4 18.624,0.14916 20.56,0.33114 23.90203,2.24678 38.77703,15.50614 42.27953,37.68713 1.1349,7.18756 0.6067,18.65602 -1.1856,25.74083 -4.1066,16.2332 -15.3111,27.04018 -32.4251,31.27483 -7.35701,1.82041 -9.60649,1.98912 -28.74883,2.15613 l -17.52,0.15286 z m 37.12,30.8837 c 4.72768,-0.85621 8.68333,-2.51927 12.06493,-5.07238 6.8298,-5.15658 10.4717,-15.72972 9.9021,-28.74777 -0.691,-15.79448 -6.5694,-24.59706 -18.60703,-27.86326 -2.25296,-0.6113 -3.60584,-0.71127 -11.28,-0.83354 l -8.72,-0.13894 v 31.75691 31.75691 l 6.96,-0.18266 c 4.03545,-0.10591 8.10293,-0.38966 9.68,-0.67527 z M 1215.7421,413.21175 c 1.2077,-0.25589 3.2237,-1.02488 4.48,-1.70886 2.2858,-1.24459 4.2314,-1.65099 13.164,-2.74973 3.4661,-0.42635 83.071,-12.62844 83.4276,-12.78804 0.2268,-0.10155 -19.1716,-0.11499 -43.1076,-0.0299 -23.936,0.0851 -196.5681,0.32319 -383.627,0.52906 -281.59621,0.30992 -340.15187,0.30167 -340.36793,-0.0479 -0.20951,-0.33899 -11.25895,1.2307 -56.05302,7.96295 -30.68565,4.61184 -55.93608,8.43618 -56.11208,8.49853 -0.31767,0.11253 765.49403,-0.007 766.72003,-0.11973 0.352,-0.0324 1.504,0.15159 2.56,0.40877 2.5011,0.60911 6.1657,0.62755 8.916,0.0449 z" id="path1" transform="translate(-313.55759,-379.08178)"/>
							</svg>
						</span>
					</a>

					<form action="{{ path('app_search') }}" method="get" class="search-bar d-flex w-100 input-group">
						<select class="btn btn-primary bg-secondary text-light dropdown-toggle dropdown-toggle-split" name="categoria" aria-label="Seleccionar categoría">
							<option value="todos" selected>Todos</option>
							<option value="libros">Libros</option>
							<option value="autores">Autores</option>
						</select>
						<input class="form-control" type="text" placeholder="Busca libros, autores, o temas" name="q" required value="{{ q|default('') }}" aria-label="Buscar"/>
						<button class="btn btn-light" type="submit" aria-label="Buscar">
							<svg xmlns="http://www.w3.org/2000/svg" height="25px" width="25px" viewbox="0 -960 960 960" class="icon-search">
								<path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
							</svg>
						</button>
					</form>

					{% if app.user %}
						<div class="dropdown">
							<button class="btn dropdown-toggle p-0" type="button" id="dropdownUserMenu" data-bs-toggle="dropdown" data-toggle="dropdown" aria-expanded="false">
								<img height="38px" src="{{ asset('images/icons/user.png') }}" alt="Icono de usuario">
								Mi cuenta
							</button>

							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUserMenu">
								<li>
									<a class="dropdown-item" href="#">Mi perfil</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Mis préstamos</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Mi lista</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Configuración</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar sesión</a>
								</li>
							</ul>
						</div>
					{% else %}
						<div class="navbar-nav-scroll">
							<ul class="navbar-nav flex-row">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_login') }}">Iniciar sesión</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_registro') }}">Registrarse</a>
								</li>
							</ul>
						</div>
					{% endif %}
				</div>
			</nav>

		{% endblock %}

		{% block body %}{% endblock %}
		
		{% block footer %}
			<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top bg-primary">
				<p>Escuela Técnica Otto Krause. Especialidad Computación. Libreando</p>
			</footer>
		{% endblock %}
	</body>
	{% block scripts %}{% endblock %}
</html></body></html>
