{{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Guardar') }}</button>
    <button class="btn">{{ button_label|default('Guardar y crear otro') }}</button>
{{ form_end(form) }}
