{% extends 'base.html.twig' %}

{% block title %}Usuario index{% endblock %}

{% block body %}
    <h1>Usuarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Es usuario activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
                <td>{{ usuario.esUsuarioActivo ? 'Si' : 'No' }}</td>
                <td>
                {% if app.user.id != usuario.id %}
                {% if not usuario.esUsuarioActivo %}
                    {{ include('crud/usuario/_accept_form.html.twig') }}
                {% endif %}
                    {{ include('crud/usuario/_delete_form.html.twig') }}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No encontramos usuarios</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
