{% extends 'admin.html.twig' %}

{% block title %}Solicitudes de cuenta
{% endblock %}

{% block main %}
	<h1>Solicitudes de cuenta</h1>

	<div class="container-fluid">
		<div class="row">
			{% for usuario in usuarios %}
				<div class="col">
					<div class="card">
						{% if usuario.isEstudiante %}
							<div class="card-header">
								Estudiante
							</div>

							<div class="card-body">
								<h5 class="card-title">{{ usuario.estudiante.nombre }}
									{{ usuario.estudiante.apellido }}</h5>
								<h6 class="card-subtitle mb-2 text-body-secondary">{{ usuario.email }}</h6>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">DNI:
									{{ usuario.estudiante.dni}}</li>
								<li class="list-group-item">A second item</li>
								<li class="list-group-item">A third item</li>
							</ul>

							<p></p>
							<p>{{ usuario.estudiante.domicilio }}</p>
							<p>{{ usuario.estudiante.telefono }}</p>
							<p>{{ usuario.estudiante.anio }}</p>
							<p>{{ usuario.estudiante.division }}</p>
							<p>{{ usuario.estudiante.especialidad.nombre }}</p>
							<p>{{ usuario.estudiante.turno.nombre }}</p>
						{% endif %}
					</div>
				</div>
			</div>

			{{ include('crud/usuario/_accept_form.html.twig') }}
			{{ include('crud/usuario/_reject_form.html.twig') }}
		{% else %}
			<p>No hay usuarios pendientes</p>
		{% endfor %}
	</div>
</div>{% endblock %}
