{% extends 'admin.html.twig' %}

{% block title %}New Usuario{% endblock %}

{% block main %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Es_usuario_activo</th>
                <td>{{ usuario.esUsuarioActivo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_usuario_index') }}">back to list</a>

    <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">edit</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
